.input-wrapper.input-wrapper--largespace.input-wrapper--icon
  = f.text_field :answer, placeholder: 'Ваш вариант ответа', class: 'input', value: item.data['answer']
  .js-form-error.text.text--small.text--error
