/**
 * Colors
 */
$blue_github_logo: #171515
$blue_github_bg: #2f2d2d
$blue_github_count_bg: #595757

$blue_facebook_logo: #193a85
$blue_facebook_bg: #3b5998
$blue_facebook_count_bg: #627aad

$blue_vkontakte_logo: #305075
$blue_vkontakte_bg: #507299
$blue_vkontakte_count_bg: #738ead

$gray_border: #d7d7d7
$gray_text: #828282
$gray_addition: #c9ced2

$white: #fff
$white_darker: #f7f7f7
$white_text: #fffefe

$black: #000
$black_link: #0d0c0c

$title_color: #00a0b6

$orange_btn: #f98e3d

$green_current: #e1eecd
$green_progress: #9cc758

$red_border: #f24841

$yellow: #e0da31
