/**
 * Buttons
 */
.btn
  padding: 12px 30px
  font-size: 14px
  font-weight: bold
  color: $white
  &--default
    background-color: $orange_btn
  &--primary
    background-color: blue

/**
 * Social Button
 */
.social-button
  position: relative
  display: block
  height: 53px
  line-height: 53px
  text-align: center
  text-decoration: none
  color: $white
  &--space
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__logo,
  &__count
    position: absolute
    top: 0
    width: 22%
    height: 100%
  &__logo
    left: 0
  &__count
    right: 0
  &__count
    font-size: 18px
    font-weight: bold
    &:before
      content: ''
      position: absolute
      left: -7px
      top: 50%
      margin-top: -8px
  &__content
    padding: 0 22%
    font-size: 14px
  &--github
    background-color: $blue_github_bg
    .social-button__logo
      background-color: $blue_github_logo
    .social-button__count
      background-color: $blue_github_count_bg
      &:before
        +arrow-left(8px, 16px, $blue_github_count_bg)
  &--facebook
    background-color: $blue_facebook_bg
    .social-button__logo
      background-color: $blue_facebook_logo
    .social-button__count
      background-color: $blue_facebook_count_bg
      &:before
        +arrow-left(8px, 16px, $blue_facebook_count_bg)
  &--vkontakte
    background-color: $blue_vkontakte_bg
    .social-button__logo
      background-color: $blue_vkontakte_logo
    .social-button__count
      background-color: $blue_vkontakte_count_bg
      &:before
        +arrow-left(8px, 16px, $blue_vkontakte_count_bg)

.social-icon
  +center

.toggler
  font-size: 0
  &--right
    text-align: right
  &__button
    position: relative
    width: 40px
    height: 20px
    padding: 2px
    +border-radius(3px)
    background-color: $orange_btn
    +transition(background-color .1s ease-in-out)
    &:first-child
      margin-right: 10px
  &__input
    display: none
    &:checked
      & ~ .toggler__label
        .toggler__button
          background-color: $green_progress
        .toggler__toggle
          left: 20px
        .toggler__icon
          left: 6px
          top: 7px
          +sprite_icon(toggler_active)
  &__label
    display: inline-block
    cursor: pointer
  &__toggle
    position: absolute
    left: 2px
    width: 18px
    height: 16px
    background-color: $white
    +border-radius(3px)
    +transition(left .1s ease-in-out)
  &__icon
    position: absolute
    top: 6px
    left: 25px
    margin: auto
    +sprite_icon(toggler_inactive)
  &__button,
  &__text
    display: inline-block
    vertical-align: middle
  &__text
    width: calc(100% - 50px)
    &:first-child
      margin-right: 10px
