.input-wrapper
  &--space
    margin-bottom: 10px
  &--largespace
    margin-bottom: 20px
  .text
    margin-top: 4px

.input
  display: block
  width: 100%
  height: 47px
  padding: 0 10px
  border: 1px solid $gray_border
  line-height: 47px
  font-size: 14px
  &:focus
    border-color: $orange_btn
  &--error
    border-color: $red_border
  &--success
    border-color: $green_progress
