.table
  width: 100%

.table-head-line
  height: 40px
  &--top
    height: 70px
    background-color: $title_color
    .table-title--points
      text-align: left
    .table-title--name
      padding-left: 142px
  &--users-top
    .table-title--name
      padding-left: 81px

.table-title
  font-size: 12px
  color: $title_color
  &--number
    width: 17%
  &--name
    width: 66%
    text-align: left
  &--points
    width: 17%
  &--top
    font-size: 30px
    color: $white

.table-line
  height: 82px
  &:nth-child(odd)
    background-color: $white_darker
  &--top
    height: 126px
    &:nth-child(odd)
      background-color: $blue_bg
    .table-user__photo
      margin-right: 52px
    .table-user__name
      max-width: calc(100% - 142px)

.table-user
  &__photo,
  &__name
    display: inline-block
    vertical-align: middle
  &__photo
    margin-right: 19px
  &__name
    max-width: calc(100% - 81px)
    +cut-text

.table-cell
  padding-right: 10px
